<template>
  <div class="grid-x grid-padding-x align-center-middle">
    <div class="cell small-8">
      <loader v-if="isLoading" />
      <model-table
        v-else
        :models="filteredEmployees"
        title="Employees"
        @create-model="createEmployee"
        @edit-model="editEmployee"
        @delete-model="deleteEmployee"
      >
        <template v-slot:filters>
          <label>
            Name
            <input v-model="nameFilter" type="text" maxlength="50" />
          </label>
          <label>
            Email
            <input v-model="emailFilter" type="text" maxlength="50" />
          </label>
        </template>
        <template v-slot:head>
          <th>Name</th>
          <th>Email</th>
          <th>Salary</th>
        </template>
        <template v-slot:body="slotProps">
          <td>{{ slotProps.model.name }}</td>
          <td>{{ slotProps.model.email }}</td>
          <td>{{ slotProps.model.salary }}</td>
        </template>
      </model-table>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import EmployeeService from "@/services/employee.service";
import ModelTable from "@/components/ModelTable.vue";
import Employee from "@/models/employee";
import DeleteModelEvent from "@/events/deleteModelEvent";
import EditModelEvent from "@/events/editModelEvent";
import Loader from "@/components/Loader.vue";

export default Vue.extend({
  name: "Employees",
  components: {
    Loader,
    ModelTable,
  },
  data(): {
    employees: Employee[];
    filteredEmployees: Employee[];
    isLoading: boolean;
    nameFilter: string;
    emailFilter: string;
  } {
    return {
      employees: [],
      filteredEmployees: [],
      isLoading: true,
      nameFilter: "",
      emailFilter: "",
    };
  },
  mounted(): void {
    EmployeeService.asyncGetAll().then(this.setEmployees).then(this.endLoading);
  },
  watch: {
    nameFilter(newValue: string, oldValue: string): void {
      if (newValue !== oldValue) {
        this.filteredEmployees = this.filter(this.employees);
      }
    },
    emailFilter(newValue: string, oldValue: string): void {
      if (newValue !== oldValue) {
        this.filteredEmployees = this.filter(this.employees);
      }
    },
  },
  methods: {
    setEmployees(employees: Employee[]): void {
      this.employees = employees;
      this.filteredEmployees = employees;
    },
    deleteEmployee(event: DeleteModelEvent): void {
      EmployeeService.asyncDelete(event.model.id).then((): void => {
        this.$delete(this.employees, event.index);
      });
    },
    createEmployee(): void {
      this.$router.push({ name: "employees-create" });
    },
    editEmployee(event: EditModelEvent): void {
      this.$router.push({
        name: "employees-edit",
        params: { id: String(event.model.id) },
      });
    },
    endLoading(): void {
      this.isLoading = false;
    },
    filter(tmpEmployees: Employee[]): Employee[] {
      tmpEmployees = this.filterEmployeesByName(this.nameFilter, tmpEmployees);
      tmpEmployees = this.filterEmployeesByEmail(
        this.emailFilter,
        tmpEmployees
      );
      return tmpEmployees;
    },
    filterEmployeesByName(value: string, employees: Employee[]): Employee[] {
      if (value !== "") {
        const lowerValue = value.toLowerCase();
        return employees.filter(({ name }): boolean =>
          name.toLowerCase().includes(lowerValue)
        );
      }

      return employees;
    },
    filterEmployeesByEmail(value: string, employees: Employee[]): Employee[] {
      if (value !== "") {
        const lowerValue = value.toLowerCase();
        return employees.filter(({ email }): boolean =>
          email.toLowerCase().includes(lowerValue)
        );
      }

      return employees;
    },
  },
});
</script>
