<template>
  <employee-form
    v-model="employee"
    :is-loading="loadings > 0"
    :is-uploading="isUploading"
    :has-uploading-error="hasUploadingError"
    :employees="employees"
    @submit="update"
  />
</template>

<script lang="ts">
import Vue from "vue";
import EmployeeForm from "@/components/forms/EmployeeForm.vue";
import EmployeeService from "@/services/employee.service";
import Employee from "@/models/employee";

export default Vue.extend({
  name: "EmployeeEdit",
  components: { EmployeeForm },
  data(): {
    loadings: number;
    isUploading: boolean;
    hasUploadingError: boolean;
    employee: Employee;
    employees: Employee[];
  } {
    return {
      loadings: 2,
      isUploading: false,
      hasUploadingError: false,
      employee: new Employee(),
      employees: [],
    };
  },
  mounted(): void {
    EmployeeService.asyncGet(Number(this.$route.params.id))
      .then(this.setEmployee)
      .then(this.endLoading);
    EmployeeService.asyncGetAll().then(this.setEmployees).then(this.endLoading);
  },
  methods: {
    setEmployee(employee: Employee): void {
      this.employee = employee;
    },
    update(): void {
      this.isUploading = true;
      EmployeeService.asyncUpdate(this.employee.id, this.employee)
        .then((): void => {
          this.$router.push({ name: "employees" });
        })
        .catch((): void => {
          this.hasUploadingError = true;
        });
    },
    setEmployees(employees: Employee[]): void {
      this.employees = employees;
    },
    endLoading(): void {
      this.loadings--;
    },
  },
});
</script>
