<template>
  <job-form
    v-model="job"
    :is-loading="loadings > 0"
    :is-uploading="isUploading"
    :has-uploading-error="hasUploadingError"
    :jobs="jobs"
    @submit="store"
  />
</template>

<script lang="ts">
import Vue from "vue";
import JobForm from "@/components/forms/JobForm.vue";
import JobService from "@/services/job.service";
import Job from "@/models/job";

export default Vue.extend({
  name: "JobCreate",
  components: { JobForm },
  data(): {
    loadings: number;
    isUploading: boolean;
    hasUploadingError: boolean;
    job: Job;
    jobs: Job[];
  } {
    return {
      loadings: 1,
      isUploading: false,
      hasUploadingError: false,
      job: new Job(),
      jobs: [],
    };
  },
  mounted(): void {
    JobService.asyncGetAll().then(this.setJobs).then(this.endLoading);
  },
  methods: {
    store(): void {
      this.isUploading = true;
      JobService.asyncStore(this.job)
        .then((): void => {
          this.$router.push({ name: "jobs" });
        })
        .catch((): void => {
          this.hasUploadingError = true;
        })
        .finally((): void => {
          this.isUploading = false;
        });
    },
    setJobs(jobs: Job[]): void {
      this.jobs = jobs;
    },
    endLoading(): void {
      this.loadings--;
    },
  },
});
</script>
