<template>
  <job-form
    v-model="job"
    :is-loading="loadings > 0"
    :is-uploading="isUploading"
    :has-uploading-error="hasUploadingError"
    :jobs="jobs"
    @submit="update"
  />
</template>

<script lang="ts">
import Vue from "vue";
import JobForm from "@/components/forms/JobForm.vue";
import JobService from "@/services/job.service";
import Job from "@/models/job";

export default Vue.extend({
  name: "JobEdit",
  components: { JobForm },
  data(): {
    loadings: number;
    isUploading: boolean;
    hasUploadingError: boolean;
    job: Job;
    jobs: Job[];
  } {
    return {
      loadings: 2,
      isUploading: false,
      hasUploadingError: false,
      job: new Job(),
      jobs: [],
    };
  },
  mounted(): void {
    JobService.asyncGet(Number(this.$route.params.id))
      .then(this.setJob)
      .then(this.endLoading);
    JobService.asyncGetAll().then(this.setJobs).then(this.endLoading);
  },
  methods: {
    setJob(job: Job): void {
      this.job = job;
    },
    update(): void {
      this.isUploading = true;
      JobService.asyncUpdate(this.job.id, this.job)
        .then((): void => {
          this.$router.push({ name: "jobs" });
        })
        .catch((): void => {
          this.hasUploadingError = true;
        });
    },
    setJobs(jobs: Job[]): void {
      this.jobs = jobs;
    },
    endLoading(): void {
      this.loadings--;
    },
  },
});
</script>
