<template>
  <div class="grid-x grid-padding-x align-center-middle">
    <div class="cell small-8">
      <loader v-if="isLoading" />
      <model-table
        v-else
        :models="filteredJobs"
        title="Jobs"
        @create-model="createJob"
        @edit-model="editJob"
        @delete-model="deleteJob"
      >
        <template v-slot:filters>
          <label>
            Title
            <input v-model="titleFilter" type="text" maxlength="50" />
          </label>
        </template>
        <template v-slot:head>
          <th>Title</th>
          <th>Minimal Salary</th>
        </template>
        <template v-slot:body="slotProps">
          <td>{{ slotProps.model.title }}</td>
          <td>{{ slotProps.model.minimal_salary }}</td>
        </template>
      </model-table>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import JobService from "@/services/job.service";
import ModelTable from "@/components/ModelTable.vue";
import Job from "@/models/job";
import DeleteModelEvent from "@/events/deleteModelEvent";
import EditModelEvent from "@/events/editModelEvent";
import Loader from "@/components/Loader.vue";

export default Vue.extend({
  name: "Jobs",
  components: {
    Loader,
    ModelTable,
  },
  data(): {
    jobs: Job[];
    filteredJobs: Job[];
    isLoading: boolean;
    titleFilter: string;
  } {
    return {
      jobs: [],
      filteredJobs: [],
      isLoading: true,
      titleFilter: "",
    };
  },
  mounted(): void {
    JobService.asyncGetAll().then(this.setJobs).then(this.endLoading);
  },
  watch: {
    titleFilter(newValue: string, oldValue: string): void {
      if (newValue !== oldValue) {
        this.filteredJobs = this.filter(this.jobs);
      }
    },
  },
  methods: {
    setJobs(jobs: Job[]): void {
      this.jobs = jobs;
      this.filteredJobs = jobs;
    },
    deleteJob(event: DeleteModelEvent): void {
      JobService.asyncDelete(event.model.id).then((): void => {
        this.$delete(this.jobs, event.index);
      });
    },
    createJob(): void {
      this.$router.push({ name: "jobs-create" });
    },
    editJob(event: EditModelEvent): void {
      this.$router.push({
        name: "jobs-edit",
        params: { id: String(event.model.id) },
      });
    },
    endLoading(): void {
      this.isLoading = false;
    },
    filter(tmpEmployees: Job[]): Job[] {
      return this.filterJobsByTitle(this.titleFilter, tmpEmployees);
    },
    filterJobsByTitle(value: string, jobs: Job[]): Job[] {
      if (value !== "") {
        const lowerValue = value.toLowerCase();
        return jobs.filter(({ title }): boolean =>
          title.toLowerCase().includes(lowerValue)
        );
      }

      return jobs;
    },
  },
});
</script>
