<template>
  <nav>
    <ul class="menu align-center">
      <nav-item
          v-for="route in routes"
          :key="route.name"
          :route="route"
      >{{ route.name | capitalize }}</nav-item>
    </ul>
  </nav>
</template>

<script lang="ts">
import { NavbarRoutes } from '@/router';
import Vue from 'vue';
import NavItem from '@/components/navbar/atoms/NavItem.vue';

export default Vue.extend({
  name: 'Navbar',
  components: {NavItem},
  data(): Record<string, any> {
    return {
      routes: NavbarRoutes,
    };
  },
});
</script>
