<template>
  <div>
    <h1>{{ title }}</h1>
    <slot name="filters" />
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <slot name="head" />
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(model, index) in sortedModels" :key="model.id">
          <td>{{ model.id }}</td>
          <slot name="body" :model="model" />
          <td>
            <a @click="emitEdition({ model, index })">Edit</a>
            &nbsp;&nbsp;
            <a @click="emitDeletion({ model, index })">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <button @click="createNew" type="button" class="button success">
      Create
    </button>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import Model from "@/models/model";
import DeleteModelEvent from "@/events/deleteModelEvent";
import EditModelEvent from "@/events/editModelEvent";
import { byId } from "@/main";
import Job from "@/models/job";

export default Vue.extend({
  name: "ModelTable",
  props: {
    models: {
      type: Array as PropType<Model[]>,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
  data(): { sortedModels: Model[] } {
    return {
      sortedModels: this.models.sort(byId),
    };
  },
  watch: {
    models(newValue: Job[]): void {
      this.sortedModels = newValue;
    },
  },
  methods: {
    createNew(): void {
      this.$emit("create-model");
    },
    emitDeletion(event: DeleteModelEvent): void {
      this.$emit("delete-model", event);
    },
    emitEdition(event: EditModelEvent): void {
      this.$emit("edit-model", event);
    },
  },
});
</script>
