<template>
  <li>
    <router-link :to="route">
      <slot />
    </router-link>
  </li>
</template>

<script lang="ts">
import Vue, {PropType} from 'vue';
import {RouteConfig} from 'vue-router/types/router';

export default Vue.extend({
  name: 'NavItem',
  props: {
    route: {
      type: Object as PropType<RouteConfig>,
      required: true,
    },
  },
});
</script>
