<template>
  <div class="grid-x grid-padding-x align-center-middle">
    <div class="cell small-8">
      <loader v-if="isLoading" />
      <model-table
        v-else
        :models="filteredProjects"
        title="Projects"
        @create-model="createProject"
        @edit-model="editProject"
        @delete-model="deleteProject"
      >
        <template v-slot:filters>
          <label>
            Title
            <input v-model="titleFilter" type="text" maxlength="50" />
          </label>
        </template>
        <template v-slot:head>
          <th>Title</th>
          <th>Value</th>
        </template>
        <template v-slot:body="slotProps">
          <td>{{ slotProps.model.title }}</td>
          <td>{{ slotProps.model.value }}</td>
        </template>
      </model-table>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ProjectService from "@/services/project.service";
import ModelTable from "@/components/ModelTable.vue";
import Project from "@/models/project";
import DeleteModelEvent from "@/events/deleteModelEvent";
import EditModelEvent from "@/events/editModelEvent";
import Loader from "@/components/Loader.vue";

export default Vue.extend({
  name: "Projects",
  components: {
    Loader,
    ModelTable,
  },
  data(): {
    projects: Project[];
    filteredProjects: Project[];
    isLoading: boolean;
    titleFilter: string;
  } {
    return {
      projects: [],
      filteredProjects: [],
      isLoading: true,
      titleFilter: "",
    };
  },
  mounted(): void {
    ProjectService.asyncGetAll().then(this.setProjects).then(this.endLoading);
  },
  watch: {
    titleFilter(newValue: string, oldValue: string): void {
      if (newValue !== oldValue) {
        this.filteredProjects = this.filter(this.projects);
      }
    },
  },
  methods: {
    setProjects(projects: Project[]): void {
      this.projects = projects;
      this.filteredProjects = projects;
    },
    deleteProject(event: DeleteModelEvent): void {
      ProjectService.asyncDelete(event.model.id).then((): void => {
        this.$delete(this.projects, event.index);
      });
    },
    createProject(): void {
      this.$router.push({ name: "projects-create" });
    },
    editProject(event: EditModelEvent): void {
      this.$router.push({
        name: "projects-edit",
        params: { id: String(event.model.id) },
      });
    },
    endLoading(): void {
      this.isLoading = false;
    },
    filter(tmpEmployees: Project[]): Project[] {
      return this.filterProjectsByTitle(this.titleFilter, tmpEmployees);
    },
    filterProjectsByTitle(value: string, projects: Project[]): Project[] {
      if (value !== "") {
        const lowerValue = value.toLowerCase();
        return projects.filter(({ title }): boolean =>
          title.toLowerCase().includes(lowerValue)
        );
      }

      return projects;
    },
  },
});
</script>
