<template>
  <project-form
    v-model="project"
    :is-loading="loadings > 0"
    :is-uploading="isUploading"
    :has-uploading-error="hasUploadingError"
    :projects="projects"
    @submit="update"
  />
</template>

<script lang="ts">
import Vue from "vue";
import ProjectForm from "@/components/forms/ProjectForm.vue";
import ProjectService from "@/services/project.service";
import Project from "@/models/project";

export default Vue.extend({
  name: "ProjectEdit",
  components: { ProjectForm },
  data(): {
    loadings: number;
    isUploading: boolean;
    hasUploadingError: boolean;
    project: Project;
    projects: Project[];
  } {
    return {
      loadings: 2,
      isUploading: false,
      hasUploadingError: false,
      project: new Project(),
      projects: [],
    };
  },
  mounted(): void {
    ProjectService.asyncGet(Number(this.$route.params.id))
      .then(this.setProject)
      .then(this.endLoading);
    ProjectService.asyncGetAll().then(this.setProjects).then(this.endLoading);
  },
  methods: {
    setProject(project: Project): void {
      this.project = project;
    },
    update(): void {
      this.isUploading = true;
      ProjectService.asyncUpdate(this.project.id, this.project)
        .then((): void => {
          this.$router.push({ name: "projects" });
        })
        .catch((): void => {
          this.hasUploadingError = true;
        });
    },
    setProjects(projects: Project[]): void {
      this.projects = projects;
    },
    endLoading(): void {
      this.loadings--;
    },
  },
});
</script>
