<template>
  <project-form
    v-model="project"
    :is-loading="loadings > 0"
    :is-uploading="isUploading"
    :has-uploading-error="hasUploadingError"
    :projects="projects"
    @submit="store"
  />
</template>

<script lang="ts">
import Vue from "vue";
import ProjectForm from "@/components/forms/ProjectForm.vue";
import ProjectService from "@/services/project.service";
import Project from "@/models/project";

export default Vue.extend({
  name: "ProjectCreate",
  components: { ProjectForm },
  data(): {
    loadings: number;
    isUploading: boolean;
    hasUploadingError: boolean;
    project: Project;
    projects: Project[];
  } {
    return {
      loadings: 1,
      isUploading: false,
      hasUploadingError: false,
      project: new Project(),
      projects: [],
    };
  },
  mounted(): void {
    ProjectService.asyncGetAll().then(this.setProjects).then(this.endLoading);
  },
  methods: {
    store(): void {
      this.isUploading = true;
      ProjectService.asyncStore(this.project)
        .then((): void => {
          this.$router.push({ name: "projects" });
        })
        .catch((): void => {
          this.hasUploadingError = true;
        })
        .finally((): void => {
          this.isUploading = false;
        });
    },
    setProjects(projects: Project[]): void {
      this.projects = projects;
    },
    endLoading(): void {
      this.loadings--;
    },
  },
});
</script>
