<template>
  <div id="app">
    <navbar />
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import Navbar from '@/components/navbar/Navbar.vue';
import Vue from 'vue';

export default Vue.extend({
  name: 'App',
  components: {Navbar},
});
</script>
