<template>
  <model-form
    :id="value.id"
    :is-loading="isLoading"
    :is-uploading="isUploading"
    :has-uploading-error="hasUploadingError"
    :formErrors="errors"
    title="Employee"
    @submit="submit"
  >
    <label>
      Name
      <input v-model="value.name" type="text" maxlength="50" required />
    </label>
    <label>
      Email
      <input v-model="value.email" type="text" maxlength="70" required />
    </label>
    <label>
      Salary
      <input
        v-model="value.salary"
        type="number"
        step="0.01"
        min="0"
        max="999999.99"
        required
      />
    </label>
  </model-form>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import Employee from "@/models/employee";
import ModelForm from "@/components/forms/ModelForm.vue";

export default Vue.extend({
  name: "EmployeeForm",
  components: { ModelForm },
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: {
      type: Object as PropType<Employee>,
      required: true,
    },
    isLoading: {
      type: Boolean,
      default: true,
    },
    isUploading: {
      type: Boolean,
      default: false,
    },
    hasUploadingError: {
      type: Boolean,
      default: false,
    },
    employees: {
      type: Array as PropType<Employee[]>,
      required: true,
    },
  },
  data(): { errors: string[] } {
    return {
      errors: [],
    };
  },
  watch: {
    value: {
      handler(newEmployee: Employee): void {
        this.errors = [];
        this.validateEmail(newEmployee.email);
      },
      deep: true,
    },
  },
  methods: {
    submit(): void {
      this.$emit("submit");
    },
    validateEmail(newEmail: string): void {
      const employeeWithSameEmail = this.employees
        .filter(({ id }): boolean => id !== this.value.id)
        .find(({ email }): boolean => email === newEmail);
      if (employeeWithSameEmail !== undefined) {
        this.errors.push(
          `Email "${newEmail}" is already taken by employee #${employeeWithSameEmail.id}.`
        );
      }
    },
  },
});
</script>
