<template>
  <model-form
    :id="value.id"
    :is-loading="isLoading"
    :is-uploading="isUploading"
    :has-uploading-error="hasUploadingError"
    :formErrors="errors"
    title="Job"
    @submit="submit"
  >
    <label>
      Title
      <input v-model="value.title" type="text" maxlength="50" required />
    </label>
    <label>
      Minimal Salary
      <input
        v-model="value.minimal_salary"
        type="number"
        step="0.01"
        min="0"
        max="999999.99"
        required
      />
    </label>
  </model-form>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import Job from "@/models/job";
import ModelForm from "@/components/forms/ModelForm.vue";

export default Vue.extend({
  name: "JobForm",
  components: { ModelForm },
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: {
      type: Object as PropType<Job>,
      required: true,
    },
    isLoading: {
      type: Boolean,
      default: true,
    },
    isUploading: {
      type: Boolean,
      default: false,
    },
    hasUploadingError: {
      type: Boolean,
      default: false,
    },
    jobs: {
      type: Array as PropType<Job[]>,
      required: true,
    },
  },
  data(): { errors: string[] } {
    return {
      errors: [],
    };
  },
  watch: {
    value: {
      handler(newJob: Job): void {
        this.errors = [];
        this.validateTitle(newJob.title);
      },
      deep: true,
    },
  },
  methods: {
    submit(): void {
      this.$emit("submit");
    },
    validateTitle(newTitle: string): void {
      const jobWithSameTitle = this.jobs
        .filter(({ id }): boolean => id !== this.value.id)
        .find(({ title }): boolean => title === newTitle);
      if (jobWithSameTitle !== undefined) {
        this.errors.push(
          `Title "${newTitle}" is already taken by job #${jobWithSameTitle.id}.`
        );
      }
    },
  },
});
</script>
