<template>
  <div class="grid-container">
    <h1>{{ title }}</h1>
    <ul>
      <li v-for="error in formErrors" :key="error">{{ error }}</li>
    </ul>
    <loader v-if="isLoading" />
    <form @submit.prevent="submit" v-else>
      <label>
        Id
        <input :value="id" type="text" disabled />
      </label>
      <slot />
      <loader v-if="isUploading" />
      <button
        v-else
        :disabled="formErrors.length > 0"
        type="submit"
        class="button success"
      >
        Save
      </button>
      <error v-if="hasUploadingError" />
    </form>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import Loader from "@/components/Loader.vue";
import Error from "@/components/Error.vue";

export default Vue.extend({
  name: "ModelForm",
  components: { Error, Loader },
  props: {
    id: {
      type: Number,
      default: null,
    },
    title: {
      type: String,
      required: true,
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    isUploading: {
      type: Boolean,
      default: false,
    },
    hasUploadingError: {
      type: Boolean,
      default: false,
    },
    formErrors: {
      type: Array as PropType<string[]>,
      default: () => [],
    },
  },
  methods: {
    submit(): void {
      this.$emit("submit");
    },
  },
});
</script>
