<template>
  <model-form
    :id="value.id"
    :is-loading="isLoading"
    :is-uploading="isUploading"
    :has-uploading-error="hasUploadingError"
    :formErrors="errors"
    title="Project"
    @submit="submit"
  >
    <label>
      Title
      <input v-model="value.title" type="text" maxlength="50" required />
    </label>
    <label>
      Minimal Salary
      <input
        v-model="value.value"
        type="number"
        step="0.01"
        min="0"
        max="999999999.99"
        required
      />
    </label>
  </model-form>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import Project from "@/models/project";
import ModelForm from "@/components/forms/ModelForm.vue";

export default Vue.extend({
  name: "ProjectForm",
  components: { ModelForm },
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: {
      type: Object as PropType<Project>,
      required: true,
    },
    isLoading: {
      type: Boolean,
      default: true,
    },
    isUploading: {
      type: Boolean,
      default: false,
    },
    hasUploadingError: {
      type: Boolean,
      default: false,
    },
    projects: {
      type: Array as PropType<Project[]>,
      required: true,
    },
  },
  data(): { errors: string[] } {
    return {
      errors: [],
    };
  },
  watch: {
    value: {
      handler(newProject: Project): void {
        this.errors = [];
        this.validateTitle(newProject.title);
      },
      deep: true,
    },
  },
  methods: {
    submit(): void {
      this.$emit("submit");
    },
    validateTitle(newTitle: string): void {
      const projectWithSameTitle = this.projects
        .filter(({ id }): boolean => id !== this.value.id)
        .find(({ title }): boolean => title === newTitle);
      if (projectWithSameTitle !== undefined) {
        this.errors.push(
          `Title "${newTitle}" is already taken by project #${projectWithSameTitle.id}.`
        );
      }
    },
  },
});
</script>
